<form class="newfeed" >
  <button class='refresh btn btn-success'><span class="glyphicon glyphicon-refresh"></span></button>
  <input type="text"
         id="new-feed-url"
         class="form-control"
         placeholder="New feed URL"
         required>
</form>
<ul class="entry-holder list-unstyled"></ul>
