<div class="panel panel-primary">
  <div class="panel-heading togglable toggle-root">
    <h3 class="panel-title togglable">
      <% if (!entry.get('entry_visit_id')) { %>
        <ul class='list-inline unread togglable'>
      <% } else { %>
        <ul class='list-inline togglable'>
      <% }%>
        <li class='togglable'><%= entry.escape('title') %></li>
        <li class='pull-right togglable'>
          <%= entry.escape('feed_title') %> - 
          <%= date %>
        </li>
      </ul>
    </h3>
  </div>
</div>
