<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title toggle-on">
      <% if (!entry.get('entry_visit_id')) { %>
        <ul class='list-inline unread'>
      <% } else { %>
        <ul class='list-inline'>
      <% }%>
        <li><%= entry.escape('title') %></li>
        <li class='pull-right clearfix'>
          <%= entry.escape('feed_title') %> - 
          <%= (new Date(entry.get('published_at'))).toString() %>
        </li>
      </ul>
    </h3>
  </div>
</div>
