<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title toggle-on">
      <ul class='list-inline'>
        <li><%= entry.escape('title') %></li>
        <li class='pull-right'>
          <%= title %> - 
          <%= entry.escape('published_at') %>
        </li>
      </ul>
    </h3>
  </div>
</div>
