li.entry * {
  /*display: none;*/
}

li.entry div.header {
  display: block;
}

li.entry.active * {
  display: block;
}

li.entry.active div.header{
  display:none;
}

.reader form {
  width: 100%;
}

.reader form.newfeed {
  margin-bottom: 10px;
}

.reader form.newfeed input {
  float: right;
  width: calc(100% - 40px);
}