.reader .panel-title a{
  color: white;
}

.reader{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.reader ul li.entry div.panel {
  margin-bottom: 1px;
}

.reader ul.unread {
  font-weight: bold;
}

.reader form {
  width: 100%;
}

.reader form.newfeed {
  margin-bottom: 10px;
}

.reader form.newfeed input {
  float: right;
  width: calc(100% - 40px);
}

.reader div.more {
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}