<!DOCTYPE html>
<html>
<head>
  <title>Aggredile</title>
  <% if current_user %>
    <%= javascript_include_tag 'application' %>
    <script>
      $(document).ready(function(){
        Aggredile.initialize();
      });
    </script>
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
